<section class="home-view">
  <header>
    <h2>Welcome to IT Talents</h2>
    <p>
      To use this web app you have to register a new user or use the <b>Admin User</b> and log-in into the app.
    </p>
    <p>
      This app is composed of two sections: Admin and Profiles.
      The sections can be accessed through the menu bar in the top using the corresponding dropdown menus.
    </p>
    <p>
      The dropdown menu for each section is only available after you successfully log-in into the app.
    </p>
  </header>
  <section>
    <h3>Admin section</h3>
    <p>
      The admin section is used by the <b>Admin User</b>. It allows you to see all registered profiles.
    </p>
    <p>
      The <b>Admin User</b> is not allowed to access the Profiles section.
    </p>
    <p>
      To access the Admin section, log-in with the <b>Login</b> option of the top menu using the following credentials:
    </p>
    <dl>
      <dt>User Name:</dt>
      <dd>bo@gmail.com</dd>
      <dt>Password:
      <dt>
      <dd>Ab123/4</dd>
    </dl>
  </section>
  <section>
    <h3>Profiles section</h3>
    <p>
      The Profiles section is used by a <b>Registered User</b> and
      allows you to create, update, view and remove a profile.
    </p>
    <p>
      The <b>Registered User</b> cannot access the Admin section.
    </p>
    <p>
      To access the Profiles section, register a new user with the <b>Register</b> option in the navigation menu in the
      top of the page and then log-in into the app using the <b>Login</b> option in the same menu.
    </p>
  </section>
  <footer>
    <p>Developed by: Alan Duarte</p>
  </footer>
</section>
